/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --accent: #ee6c4d;
  --light: #ffffff;
  --dark: #151617;
  --small: calc(0.8rem + 0.4vw);
  --medium: calc(1rem + 0.8vw);
  --large: calc(2rem + 4vw);
  --thin: 300;
  --regular: 500;
  --thick: 1000;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
a,
button,
textarea,
form,
input {
  cursor: none;
  color: inherit;
  font-family: inherit;
  border: inherit;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}
body {
  color: var(--dark);
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: clip;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  font-size: var(--small);
  font-weight: var(--thin);
}

::-webkit-scrollbar {
  display: none;
}

#mouse {
  z-index: 1001;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  border: solid 0.5em var(--accent);
  position: fixed;
  translate: -50% -50%;
  pointer-events: none;
  -webkit-transition: border 0.2s, height 0.2s, width 0.2s;
  -o-transition: border 0.2s height 0.2s, width 0.2s;
  -webkit-transition: border 0.2s height 0.2s, width 0.2s;
  transition: border 0.2s height 0.2s, width 0.2s;
}

.hovered {
  border: solid 0.2em var(--accent) !important;
  height: 2em !important;
  width: 2em !important;
}

#loader {
  background-color: var(--light);
  z-index: 1000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  inset: 0;
  font-size: var(--medium);
  -webkit-animation: clipOut 0.8s 3s forwards;
  animation: clipOut 0.8s 3s forwards;
  & img {
    opacity: 1;
    height: min(30vw, 30vh);
  }
  .bar {
    position: relative;
    overflow: clip;
    height: 0.2em;
    width: calc(min(30vw, 30vh) / 1.5);
    margin-bottom: 1em;
  }
  .bar::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: var(--dark);
    -webkit-animation: bar 2s 1s infinite;
    animation: bar 2s 1s infinite;
  }
}

@media (width < 800px) {
  body,
  a,
  button,
  textarea,
  form,
  input {
    cursor: unset;
  }
  #mouse {
    display: none;
  }
}

#home {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation: clipIn 0.8s 3s forwards;
  animation: clipIn 0.8s 3s forwards;
  position: absolute;
  background-color: var(--light);
  width: 100vw;
  height: 100vh;
  height: 100svh;
  & h1 {
    font-size: var(--large);
    font-weight: var(--light);
  }
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

section {
  padding: 15vh 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  overflow: clip;
  background-color: var(--light);
  -webkit-animation: clipOut 0.8s forwards;
  animation: clipOut 0.8s forwards;
}

nav {
  background-color: var(--light);
  -webkit-animation: clipIn 0.8s 3s forwards;
  animation: clipIn 0.8s 3s forwards;
  z-index: 500;
  padding: 0 5vw;
  height: 15vh;
  height: 15svh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
  & button {
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  & button:nth-of-type(1) {
    color: var(--accent);
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5vh;
  gap: 5svh;
  padding: 3em;
}

.flip-class,
.flip-class-cv {
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
.flip-over {
  text-align: center;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}
.flip-content {
  translate: 0 -100%;
}
.flip-box {
  position: relative;
  overflow: clip;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.delay1 {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.delay2 {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3em;
  & p {
    padding: 0 3em;
  }
  & form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1em;
  }
  & input,
  textarea {
    padding: 0.5em 1em;
    border: 0.15em solid var(--dark);
    width: min(50ch, 90vw);
  }

  & form button {
    padding: 0.5em 1em;

    -ms-flex-item-align: end;

    align-self: flex-end;
  }
  ::-webkit-input-placeholder {
    color: var(--dark);
    opacity: 1; /* Firefox */
  }
  ::-moz-placeholder {
    color: var(--dark);
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder {
    color: var(--dark);
    opacity: 1; /* Firefox */
  }
  ::-ms-input-placeholder {
    color: var(--dark);
    opacity: 1; /* Firefox */
  }
  ::placeholder {
    color: var(--dark);
    opacity: 1; /* Firefox */
  }

  ::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--dark);
  }
}

.flip-button {
  color: var(--accent);
}

@media (width < 800px) {
  section {
    padding: 5em 0;
  }
  nav {
    height: 5em;
    .nav-buttons {
      width: 100%;
      gap: 0;

      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
    .flip-button {
      left: 0;
      text-align: left;
      width: 100vw;
      padding: 2em 5vw;
      position: fixed;
      bottom: calc(100vh - 5em);
      bottom: calc(100svh - 5em);
    }
  }
  #clients {
    .windows {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 1em;
      -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
    }
    & img {
      -webkit-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
      width: 80vw !important;
    }
    & img:hover {
      opacity: 0.8;
    }
  }
}

#clients {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3em;

  .windows {
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1em;
  }
  & img {
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    width: 20vw;
  }
  & img:hover {
    opacity: 0.8;
  }
  & p {
    padding: 0 3em;
  }
}
